.time-content {
  background-color: var(--Rose-White);
  font-family: "Outfit";
  padding: 5% 10%;
  border-radius: 10px;
}
.time-title {
  color: var(--Dark-Raspberry);
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0;
}
.time-list {
  padding: 0;
  margin-bottom: 0;
  color: var(--Wenge-Brown);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.time-list li {
  margin-left: 11%;
}
.time-list li::marker {
  font-size: 0.7rem;
}
.time-list li div {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.time-list li b {
  color: var(--Dark-Charcoal);
}
@media (min-width: 768px) {
  .time-content {
    padding: 5%;
  }
}
@media (min-width: 1024px) {
  .time-content {
    padding: 5%;
    border-radius: 10px;
    font-size: 1rem;
  }
  .time-title {
    font-size: 1.2rem;
  }
  .time-list {
    margin-top: 3%;
    margin-left: 5%;
    gap: 0.5rem;
  }
  .time-list li {
    margin-left: 0%;
    font-size: 0.9rem;
  }
  .time-list li div {
    margin-left: 15px;
  }
}
